body{
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    margin: 20px;
}

h1{
    color: darkred;
    text-align: center;
}

nav{
    text-align: center;
    margin-bottom: 20px;
}

nav a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

img{
    display: block;
    margin: auto;
    border-radius: 10px;
}

p{
    text-align: justify;
}
